DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/cabruca

AWS_REGION=sa-east-1
S3_BUCKET_NAME=cabruca-images-dev

COGNITO_USER_POOL_ID=sa-east-1_XXXXXXXXX
COGNITO_APP_CLIENT_ID=<cognito-app-client-id>
